@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.article {
  background-image:url('../assets/img/water-glass.svg');
  width:280px;
  height:280px;
}

.article__counter {
  font-size: 112px;
  text-align:center;
  color:black;
}

body {
  background:white;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.heading {
  font-size:55px;
  font-weight: 400;
}

.main {
  background:#3767AD;
  padding:47px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:375;
  height:812px;
}

.button__add {
  width: 216px;
  height:47px;
  padding:11px;
  font-size:18px;
  border-radius:4px;
  border: 1px #0000 solid;
  margin-top:41px;
}

.button__remove {
  display:block;
  background:#3767AD;
  color:white;
  border:none;
  width: 100%;
  height:23px;
  margin-top:41px;
  font-size:14px;
}


